.wrong {
    color:#c4757d;
    border-width: 4px;
    border-color:#c4757d;
    font-weight: 900;
}
.right {
    color:#4b8e7d;
    border-width: 4px;
    border-color:#4b8e7d;
    font-weight: 900;
}
.no-click {
    pointer-events: none;
}
button.quiz {
    margin-top:2.5%;
    padding:3%;
    display:flex;
    align-items: center;
}
.arrow {
    height:40px;
    margin-bottom:2.5%
}